@import url('https://use.typekit.net/rud5zhi.css');

.About {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.About .about-section {
  align-items: center;
  background-color: grey;
  margin-top: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -20px;
}

header nav a {
  margin: 0 .5em;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 20px;
}

h1 {
  font-style: italic;
}

.site-name {
  font-family: ethnocentric,sans-serif;
  font-weight: 400;
  font-style: italic;
}

span {
  padding-right: 110px;
}

.artist-title {
  background-color: teal;
  text-align: center;
  margin-bottom: 55px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
}

.artist-albums-page .artist-title {
  background-color: teal;
  text-align: center;
  margin-bottom: 55px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
}

.albums-page .artist-title {
  background-color: teal;
  text-align: center;
  margin-bottom: 55px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
}

.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.artist-card {
  flex-direction: row;
  background-color: grey;
  padding: 30px 30px 0px 30px;
  margin: 10px;
  max-width: 500px;
}

img {
  width: 45vw;
  height: auto;
  margin: auto;
}

.customize-db {
  background-color: teal;

}

.custom-title {
  font-size: 25px;
}

.footer {
padding-top: 25px;
}
